Repository zetapush/zetapush, pull requests merged in 2018-09, with the labels that each got.

#132 Add 'dom' lib in tsconfig.json of generated project
  packages/create/createApp.js
Labels: package:create

#145 Chore/samples/standard user workflow
  packages/user-management/samples/standard-user-workflow/.gitignore
  packages/user-management/samples/standard-user-workflow/README.md
  packages/user-management/samples/standard-user-workflow/application.json
  packages/user-management/samples/standard-user-workflow/front/index.html
  packages/user-management/samples/standard-user-workflow/front/index.js
  packages/user-management/samples/standard-user-workflow/front/js/login.js
  packages/user-management/samples/standard-user-workflow/front/js/signup.js
  packages/user-management/samples/standard-user-workflow/front/styles/common.css
  packages/user-management/samples/standard-user-workflow/front/styles/home.css
  packages/user-management/samples/standard-user-workflow/front/styles/login.css
  packages/user-management/samples/standard-user-workflow/front/styles/signup.css
  packages/user-management/samples/standard-user-workflow/package.json
  packages/user-management/samples/standard-user-workflow/tsconfig.json
  packages/user-management/samples/standard-user-workflow/worker/index.ts
Labels: samples

#147 Feature/update GitHub templates
  .github/ISSUE_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE.md
Labels: enhancement

#148 Hotfix/user management/autoconf smtp
  packages/user-management/samples/standard-user-workflow/package.json
  packages/user-management/src/common/configurer/email/EmailConfigurer.ts
Labels: bug

#158 feat(common-circular-dependency): remove circular dependencies on common package
  packages/common/src/environment/env-variables-properties.ts
  packages/common/src/environment/error.ts
  packages/common/src/environment/index.ts
  packages/common/src/environment/json5-properties.ts
  packages/common/src/environment/priorized-properties.ts
  packages/common/src/environment/properties.ts
  packages/common/src/environment/utils.ts
Labels: package:common

#160 feat(connection-handlers): add onNoServerUrlAvailable handler on conn…
  packages/client/src/client/basic.js
Labels: package:client

#166 feat(worker-namespace): update worker namespace implementation
  packages/client/src/client/basic.js
  packages/client/src/client/helper.js
  packages/common/src/worker/di.ts
  packages/core/src/Context.ts
  packages/example/worker/index.ts
  packages/testing/src/worker/test-instance.ts
  packages/worker/src/utils/context.ts
  packages/worker/src/utils/worker-instance.ts
Labels: enhancement, package:client, package:common, package:core, package:worker

#167 Feature/timeoutify client request
  packages/client/index.d.ts
  packages/client/package-lock.json
  packages/client/src/client/basic.js
  packages/client/src/client/helper.js
  packages/client/src/utils/async.js
  packages/client/src/utils/index.js
  packages/client/src/utils/types.js
Labels: enhancement, package:client

#176 feat(update-promisify-implementation): update Timeou.wrap implementatupdate-promisify-implementation
  packages/client/src/client/helper.js
  packages/client/src/utils/async.js
Labels: package:client

#174 fix(namespace): test client handles new namespace format
  packages/integration/package.json
  packages/integration/spec/account/account-not-validated.spec.js
  packages/integration/spec/account/no-account.spec.js
  packages/integration/spec/account/no-appname.spec.js
  packages/integration/spec/account/no-login.spec.js
  packages/integration/spec/account/no-password.spec.js
  packages/integration/spec/nominal.spec.js
  packages/integration/spec/runtime.spec.js
  packages/integration/spec/user-management/default-standard-user-workflow.spec.js
  packages/testing/src/bdd/when.ts
  packages/testing/src/utils/logger.ts
  packages/user-management/spec/it/standard-user-workflow/core/account/StandardAccountAuthentication.spec.ts
Labels: bug, tests

#181 feat(update-prompt-implementation): replace prompt-sync by prompts
  packages/cli/package-lock.json
  packages/cli/package.json
  packages/cli/src/utils/security.js
  packages/create/createApp.js
Labels: package:common, package:create

#186 fix(Request developer login if missing in loaded config):
  packages/cli/src/loader/config.js
Labels: package:cli

#188 feat(connection): Add reason of failed connection
  .vscode/settings.json
  .vscode/tasks.json
  packages/client/src/client/basic.js
  packages/client/src/client/helper.js
  packages/client/src/index.js
  packages/client/src/utils/error-handler.js
  packages/integration/package.json
  packages/integration/spec/user-management/default-standard-user-workflow.spec.js
  packages/user-management/spec/it/standard-user-workflow/core/account/StandardAccountAuthentication.spec.ts
Labels: enhancement, package:cli

#191 feat(deployment-feedback): Display in terminal feedback about deployed urls
  packages/cli/src/utils/progression.js
  packages/common/src/progression.ts
Labels: enhancement, package:cli

#192 Feature/update default worker name
  packages/cli/src/commands/push.js
Labels: package:cli

#196 feat(replace-progression-implementation): replace node-progress-bars by log-update
  packages/cli/package.json
  packages/cli/src/commands/push.js
  packages/cli/src/utils/progression.js
  packages/example/package.json
  packages/integration/package.json
Labels: enhancement, package:cli

#197 feat(ush-progress-color): update push progress color to support errors
  packages/cli/src/utils/progression.js
Labels: enhancement, package:cli

#189 fix(api): Do not transform API return values
  packages/client/src/client/helper.js
  packages/integration/spec/return-values.spec.js
  packages/integration/spec/templates/return-values/package.json
  packages/integration/spec/templates/return-values/tsconfig.json
  packages/integration/spec/templates/return-values/worker/index.ts
Labels: bug, package:client

#202 feat(forbidden-verbs-all): forbidden all verbs for platforme service
  packages/common/src/worker/provisioning.ts
Labels: package:cli

#203 feat(security): no longer display developer password in zetarc file
  packages/cli/package-lock.json
  packages/cli/package.json
  packages/cli/src/loader/config.js
  packages/cli/src/utils/crypto.js
Labels: enhancement, package:cli

#201 fix(smart-client-persistence): update appName on persistence data level
  packages/client/src/client/smart.js
  packages/client/src/utils/session-persistence.js
Labels: package:client

#204 feat(lerna): update lerna config
  lerna.json
  package-lock.json
Labels: enhancement
